@import "../../../variables.scss";

.cards-container.campagne-log {
  flex-direction: column;
  gap: 15px;
  padding: 0 5px;
  .cards-content.campagne-log {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;

    .span-bold {
      font-weight: 900;
    }

    .span-orange {
      color: $orange;
    }

    .span-white {
      color: aliceblue;
    }
  }
}
