@import "../../variables.scss";

a {
  text-decoration: none;
  color: inherit;
}

.main {
  min-height: 100vh;
  padding: 10px;
}

.background.dashboard {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .shape {
    position: absolute;
    border-radius: 50%;
  }
  .shape:first-child {
    width: 200px;
    height: 200px;
    background: $blue-ball;
    bottom: 5px;
    left: 40px;
  }
  .shape:last-child {
    width: 350px;
    height: 350px;
    background: $orange-ball;
    top: -20px;
    right: -140px;
  }
}

.container {
  display: flex;
  gap: 20px;

  .content {
    height: 97vh;
    border-radius: 10px;
    border: 2px solid $black-border;
    box-shadow: 0 0 40px $black-shadow;
    background-color: $black-back-ground;
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    z-index: 100;
  }
  .menu-container {
    flex: 1;
  }
  .page-container {
    flex: 4;
    .page-content {
      width: 100%;

      .main-stat {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .year-container {
          display: flex;
          justify-content: center;
        }

        .infos-container {
          display: flex;
          height: 410px;
          width: 100%;
          gap: 10px;
          padding: 10px 20px;
        }
      }
    }
  }
}
