@import "../../../variables.scss";

.input-file-image-container {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-file-image {
    width: 60px;
    object-fit: contain;
  }
}

.labelInput {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  border: 1px solid $black-border;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border-radius: 3px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
  &.imgCampagne {
    margin-top: 40px;
  }

  img {
    width: 20px;
  }

  span {
    color: aliceblue;
    max-width: 350px;
    font-size: 13px;
  }
}
