@import "../../variables.scss";

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.option-number {
    justify-content: flex-start;
    margin-top: 5px;
    transition: 3s ease;

    .option {
      padding: 5px 10px;
    }

    .svg-option-plus {
      color: $gris-color;
      transition: 0.2s ease;
      cursor: pointer;

      &:active {
        transform: scale(0.92);
      }
    }
  }

  .option {
    padding: 10px 20px;
    border-bottom: aliceblue 2px solid;
    transition: 0.2s ease;
    span {
      color: $gris-color;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
      transition: 0.15s ease;

      &:hover {
        color: aliceblue;
      }
    }
    &.active {
      border-left: aliceblue 2px solid;
      border-right: aliceblue 2px solid;
      border-top: aliceblue 2px solid;
      border-bottom: 0;
      span {
        color: aliceblue;
      }
    }
  }
}
