$orange: rgb(232, 98, 34);
$blue-ball: linear-gradient(#1845ad, #23a2f6);
$light-blue: #2869FF;
$orange-ball: linear-gradient(to right, #ff512f, #f09819);
$black-border: rgba(255,255,255,0.1);
$black-back-ground: rgba(255,255,255,0.13);
$black-shadow:rgba(8,7,16,0.6);
$soft-black-back-ground:rgba(255,255,255,0.07);
$black:#080710;
$gris-color:#969593;
$gris-fond-color: #717273;